@import "tailwindcss";

@theme {
  --color-milokira-crema: #f7f4eb;
  --color-milokira-lila: #ecd4ff;
  --color-milokira-verde: #8da781;
}

/* Patrón a medida: Semillas y Rocío (mezcla Lila y Verde)
.patron-semillas {
  background-color: var(--color-milokira-crema);
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='2.5' fill='%23ecd4ff' fill-opacity='0.9'/%3E%3Ccircle cx='23' cy='23' r='1.5' fill='%238da781' fill-opacity='0.6'/%3E%3C/svg%3E");
} */

.patron-muro {
  background-color: var(--color-milokira-crema);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ecd4ff' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* .patron-hojas {
  background-color: var(--color-milokira-crema);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C10 8 22 6 25 6C25 18 13 20 10 20ZM30 40C30 28 18 26 15 26C15 38 27 40 30 40Z' fill='%23ecd4ff' fill-opacity='0.6' fill-rule='evenodd'/%3E%3C/svg%3E");
} */
